@model VolunteerManagment.Models.Event

@{
    ViewData["Title"] = "Edit Event";
}
@section Styles {
    <link rel="stylesheet" href="~/css/Events/crud.css" asp-append-version="true" />
}

<div class="create-page-wrapper">
    <h1 class="page-title">Edit Event</h1>
    <h4 class="subtitle">Update the event details</h4>

    <div class="form-container">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EventId" />

            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Category"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Location"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Date"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>

            <div class="form-group text-center">
                <input type="submit" value="Save" class="btn-primary" />
            </div>
        </form>

        <div class="text-center">
            <a asp-action="Index" class="back-link">← Back to List</a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
