@model VolunteerManagment.Models.User
<form asp-action="Login" method="post">
    <input asp-for="UserName" placeholder="Username" />
    <span asp-validation-for="UserName"></span>

    <input asp-for="Password" type="password" placeholder="Password" />
    <span asp-validation-for="Password"></span>

    <button type="submit">Login</button>
</form>